.Product_info_table{
    margin-bottom: 64px;
}

.Product_info_table h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 40px;
}

.Product_info_table table{
    background: none;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 40px 0 rgba(57, 57, 57, 0.05);
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
    border-radius: 7px;
}

.Product_info_table table tr:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
}

.Product_info_table td{
    padding: 12px 0;
    border-right: 2px solid #fff;
}

.Product_info_table td:last-child{
    border: none;
}

.Product_info_table td:nth-child(1){
    text-align: left;
    padding-left: 29px;
}

.Product_info_table tr{
    overflow-x: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.Product_info_table tr:nth-child(2n){
    background: #FFFCFC;
}

.Product_info_table tr:nth-child(2n+1){
    background: #FFF5E5;
}

.Product_info_table tr:nth-child(2n):hover{
    background: rgb(250,247,247);
}

.Product_info_table tr:nth-child(2n+1):hover{
    background: rgb(2545,235,219);
}

.Product_info_table tr:nth-child(1) td:nth-child(1){
    border-top-left-radius: 7px;
}

.Product_info_table tr:nth-child(1) td:last-child{
    border-top-right-radius: 7px;
}

.Product_info_table tr:last-child td:nth-child(1){
    border-bottom-left-radius: 7px;
}

.Product_info_table tr:last-child td:last-child{
    border-bottom-right-radius: 7px;
}