.CarouselCard {
    height: 100%;
    width: 100%;
    padding: 20px 40px;
}

.CarouselCard__title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.CarouselCard__image {
    width: 100%;
    height: 50%;
    text-align: center;
    margin-bottom: 30px;
}

.CarouselCard img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.CarouselCard__properties{
    margin-bottom: 10px;
}

.CarouselCard__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #282828;
}

.CarouselCard__text.orange {
    color: #EE9A38;
    padding-left: 5px;
    font-size: 18px;
}