div.rpv-core__viewer{
    overflow: hidden;
}

div.rpv-core__viewer--dark{
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

div.rpv-default-layout__main{
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
}