.answers{
    cursor: pointer;
}

.question_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question_content h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #303030;

    padding: 20px 0;
}

.button{
    width: 22px;
    height: 22px;
    position: relative;
}

.question_content .button .line{
    width: 22px;
    height: 2px;
    background-color: #303030;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    transition: 0.2s;

}

.question_content .button .line:nth-child(2){
    transform: rotateZ(90deg);
}

.answer_content {
    position: relative;
}

.answer_content p{
    padding: 20px 40px;
    background: #002543;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 10px 0 10px 10px;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 18px;
    transition: 0.4s;
    width: 100%;
}

.hidden{
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    transform: translateY(-50px);

}

.visible{
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s;
    transform: translateY(0px);
}