.First_header{
    width: 100%;
    height: 80px;
    z-index: 100;
    transition: 0.4s;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    background: rgba(48, 89, 124, 0.47);
}


.First_header .display{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.First_header a{
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.4s;
}

.First_header a:hover{
    color: #00223E;
}

.First_header.fixed{
    position: fixed;
    top: 0;
    animation-name: fix-animation;
    animation-duration: 0.4s;
    background-color: rgba(3, 50, 90, 0.95);
}

@keyframes fix-animation {
    from{
        transform: translateY(-110%);
    }
    to{
        transform: translateY(0);
    }
}

.First_header.fixed a:hover{
    color: #E39C13;
}