.Second_header{
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    height: 40px;
    margin-top: 90px;
}

.Second_header .display{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.Second_header .link{
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    transition: 0.4s;
    color: #000;
}

.Second_header .link:hover{
    background: rgba(38, 60, 85, 0.2);
}

.Second_header .link:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.Second_header .link:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

}

.Second_header .link:nth-child(3) {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.Second_header .link:before{
    margin-right: 10px;
    padding-top: 4px;
}

.Second_header .link:nth-child(1):before{
    content: url("images/phone.svg");
    display: flex;
    align-items: center;
}
.Second_header .link:nth-child(2):before{
    content: url("images/mail.svg");
    display: flex;
    align-items: center;
}
.Second_header .link:nth-child(3):before{
    content: url("images/time.svg");
    display: flex;
    align-items: center;
}