.First_screen{
    height: 110vh;
    width: 100%;
    background-image: url("images/background_towers.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.First_screen.towers{
    background-image: url("images/background_towers.png");
}
.First_screen.scaffoldings{
    background-image: url("images/background_scaffoldings.png");
}
.First_screen.stairs{
    background-image: url("images/background_stairs.png");
}
.First_screen.scaffolds{
    background-image: url("images/background_scaffolds.png");
}

.First_screen > .layout{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.First_screen > .layout > .header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.First_screen > .layout > .content > h1{
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 71px;
    color: #FFFFFF;
    margin-bottom: 24px;
    width: 730px;
}

.First_screen > .layout > .content > p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.First_screen > .layout > .content > .button{
    background: linear-gradient(90deg, #F6D365 0%, #EE9A38 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 18px 36px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #252525;
    cursor: pointer;
    border: none;
    transition: 0.4s;
}

.First_screen > .layout > .content > .button:hover{

}

.First_screen.towers > .layout > .header .First_header{
    background: rgba(40, 63, 81, 0.78);
}
.First_screen.scaffoldings > .layout > .header .First_header{
    background: rgba(15, 25, 38, 0.5);
}
.First_screen.stairs > .layout > .header .First_header{
    background: rgba(15, 25, 38, 0.5);
}
.First_screen.scaffolds > .layout > .header .First_header{
    background: rgba(15, 25, 38, 0.7);
}

/*.First_screen.tower > .layout > .header .First_header.fixed{}*/
/*.First_screen.scaffoldings > .layout > .header .First_header.fixed{}*/
/*.First_screen.stairs > .layout > .header .First_header.fixed{}*/
/*.First_screen.scaffolds > .layout > .header .First_header.fixed{}*/

/*.First_screen.tower > .layout > .header .Second_header{*/
/*    !*background: rgba(38, 60, 85, 0.38);*!*/
/*}*/
/*.First_screen.scaffoldings > .layout > .header .Second_header{*/
/*    !*background: rgba(255, 255, 255, 0.76);*!*/
/*}*/
/*.First_screen.stairs > .layout > .header .Second_header{*/
/*    !*background: rgba(255, 255, 255, 0.7);*!*/
/*}*/
/*.First_screen.scaffolds > .layout > .header .Second_header{*/
/*    !*background: rgba(255, 255, 255, 0.76);*!*/
/*}*/