.FirstHeader__header{
    width: 100%;
    z-index: 100;
    transition: 0.4s;
    padding: 20px 0 15px 0;
    display: block;
}

.FirstHeader__header_fixed{
    position: fixed;
    top: -5px;
    animation-name: fix-animation;
    animation-duration: 0.4s;
    background-color: rgba(3, 50, 90, 0.95);
}

@keyframes fix-animation {
    from{
        transform: translateY(-110%);
    }
    to{
        transform: translateY(0);
    }
}

.FirstHeader__display{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FirstHeader__header a{
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.4s;
}

.FirstHeader__header a:hover{
    color: #00223E;
}

.FirstHeader__header_fixed a:hover{
    color: #E39C13;
}