.header{
    width: 100%;
    margin-bottom: 10px;
}

.display{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    font-family: 'Jura', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.4s;
}

.header a:hover{
    color: #00223E;
}