@media (max-width: 1200px) {
    .container, .App .Footer__container {
        width: 960px;
    }
    .MainScreen__main_screen h1{
        width: 70%;
    }
    .App .MainScreen__main_screen__content{
        align-items: center;
    }
    .App .MainScreen__main_screen__content h1{
        width: 80%;
        text-align: center;
    }
    .Cards__cards .Cards__content{
        justify-content: center;
        gap: 10%;
    }
    .App .Cards__content{
        display: none;
    }
    .App .Cards__content__mobil{
        display: block;
    }
    .App .Card__card{
        max-width: 450px;
        width: 450px;
        max-height: 570px;
        height: 570px;
    }
    .App .Card__button{
        width: 100%;
    }
    .App .Modal__content{
        width: 50%;
    }
}

@media (max-width: 992px) {
    .App .container, .App .Footer__container{
        width: 720px;
    }
    .App .MainScreen__header .FirstHeaderMobil__header{
        display: block;
    }
    .App .MainScreen__header .FirstHeader__header{
        display: none;
    }
    .App .Benefits__cards{
        width: 80%;
    }
    .App .Footer__links{
        display: none;
    }
    .App .Footer__bottom_footer{
        font-size: 14px;
        text-align: left;
        padding: 0;
    }
    .App .Footer__button{
        display: none;
    }
    .App .Footer__button__mobil{
        display: block;
    }
    .App .Answers__question_content h3{
        width: 80%;
    }
}

@media (max-width: 768px) {
    .App .container {
        width: 540px;
    }
    .App .Footer__container{
        width: 90%;
    }
    .App .MainScreen__header .FirstHeaderMobil__header{
        display: block;
    }
    .App .MainScreen__header .FirstHeader__header{
        display: none;
    }
    .App .MainScreen__main_screen__content{
        align-items: flex-start;
        text-align: left;
    }
    .App .MobilMenu__content{
        width: 70%;
    }
    .App .MainScreen__header .SecondHeader__header{
        display: none;
    }
    .App .MainScreen__main_screen h1{
        width: 90%;
        font-size: 50px;
        text-align: left;
    }
    .App .Manual__manual h2{
        margin-bottom: 50px;
    }
    .App  .Manual__card{
        display: block;
    }
    .App .Manual__card .Manual__number{
        transform: translateY(0);
        text-align: left;
        margin-bottom: 40px;
    }
    .App .Manual__text{
        width: 100%;
    }
    .App .Feedback__feedback{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .App .Feedback__feedback h3{
        font-size: 30px;
        margin-bottom: 25px;
    }
    .App .Feedback__feedback p{
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
        width: 90%;
    }
    .App .Feedback__feedback .Feedback__form{
        gap: 10px;
    }
    .App .Feedback__feedback input, .App .Feedback__feedback button, .App .Feedback__phone{
        padding: 15px 0;
        width: 300px;
        font-size: 16px;
    }
    .App .Feedback__phone{
        width: 270px;
    }
    .App .Feedback__feedback hr{
        width: 80%;
        margin: 15px auto;
    }
    .App .Benefits__benefits h2{
        font-size: 40px;
    }
    .App .Benefits__cards{
        display: none;
    }
    .App .Benefits__benefits .Benefits__cards__mobil{
        display: block;
    }
    .App .VideoManual__video{
        width: 100%;
    }
    .App .Modal__content{
        width: 70%;
    }
}

@media (max-width: 576px) {
    .App .container{
        width: 95%;
    }
    .App .MainScreen__main_screen__content{
        align-items: center;
        text-align: center;
    }
    .App .MainScreen__main_screen h1{
        width: 90%;
        font-size: 50px;
        text-align: center;
    }
    .App .Feedback__feedback hr{
        display: none;
    }
    .App .Feedback__feedback .Feedback__text_phone{
        margin: 15px 0;
    }
    .App .Footer__bottom_footer{
        text-align: center;
        font-size: 12px;
    }
    .App .Answers__answer_content p{
        padding: 20px 20px;
        font-size: 11px;
    }
    .App .ProductInfoTable__table td:nth-child(1){
        padding-left: 10px;
    }
    .App .Card__card{
        max-width: 80%;
        min-width: 80%;
    }
    .App .Modal__content{
        width: 80%;
    }
}

@media (max-width: 450px) {
    .App .Benefits__benefits h2{
        font-size: 30px;
    }
    .App .Benefits__cards__mobil .Benefits__card p{
        font-size: 20px;
    }
}