.Card__card{
    max-width: 370px;
    min-width: 370px;
    max-height: 580px;
    min-height: 580px;
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0  4px 20px 0 rgba(0, 52, 95, 0.05);
    border-radius: 10px;
    transition: 0.4s;
    z-index: 2;
}

.Card__card:hover{
    transform: translateY(-5px);
}

.Card__info{
}

.Card__info_img{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 14px;
}

.Card__size_buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.Card__size_button{
    background: #DCDCDC;
    border-radius: 50px;
    padding: 7px 0;
    width: 90px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    transition: 0.4s;
    border: none;
    cursor: pointer;
}

.Card__size_button:hover{
    background: #397AB2;
    color: #fff;
}

.Card__active{
    background: #397AB2;
    color: #fff;
}

.Card__info h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 5px;
}

.Card__info .Card__comments{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 15px;
}

.Card__card ul{
    margin-bottom: 15px;
}

.Card__card li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #00345F;
    list-style: none;
}

.Card__ps{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #00345F;
}

.Card__button{
    border: 1px solid #F3A242;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 10px 0;
    background: none;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    transition: 0.4s;
    text-decoration: none;
    text-align: center;
}

.Card__button:hover{
    background: #FFB31E;
}

.carousel .slide img{
    width: auto;
}

.carousel .slide{
    text-align: left;
    min-width: 100%;
    display: flex;
    align-items: center;
}