.Card{
    max-width: 370px;
    min-width: 370px;
    max-height: 580px;
    min-height: 580px;
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0  4px 20px 0 rgba(0, 52, 95, 0.05);
    border-radius: 10px;
    transition: 0.4s;
    z-index: 2;
}

.Card:hover{
    transform: translateY(-5px);
}

.Card .info{
}

.Card .img{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 14px;
}

.Card .size_buttons{
    /*width: 100%;*/
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #F2F4FB;
    border-radius: 50px;
    background: #F2F4FB;

}

.Card .size_buttons .size_button{
    background: none;
    padding: 7px 0;
    width: calc(100%/3);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #00345F;
    transition: 0.4s;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.Card .size_buttons .size_button.active{
    color: #000;
}

.Card .size_buttons .tracker{
    width: calc(100%/3);
    height: 100%;
    background: linear-gradient(164.58deg, #F6D365 14.25%, #EE9A38 89.19%), linear-gradient(0deg, #F3A242, #F3A242), #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    border-radius: 50px;
}

.Card .info h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 5px;
}

.Card .comments{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 15px;
}

.Card .prices{
    overflow: hidden;
    margin-bottom: 15px;
}

.Card .prices_wrapper{
    display: flex;
    transition: 1s;
}

.Card ul{
    min-width: 100%;
}

.Card li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #00345F;
    list-style: none;
}

.Card .ps{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #00345F;
}

.Card .button{
    border: 1px solid #F3A242;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 10px 0;
    background: none;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    transition: 0.4s;
    text-decoration: none;
    text-align: center;
}

.Card .button:hover{
    background: #FFB31E;
}

.Card .carousel .slide img{
    width: auto;
}

.Card .carousel .slide{
    text-align: left;
    min-width: 100%;
    display: flex;
    align-items: center;
}