.Answers{
    cursor: pointer;
}

.Answers .question.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Answers .question h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #303030;
    padding: 20px 0;
    width: 80%;
}

.Answers .question .button{
    width: 22px;
    height: 22px;
    position: relative;
}

.Answers .question .line{
    width: 22px;
    height: 2px;
    background-color: #303030;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    transition: 0.2s;

}

.Answers .question .line:nth-child(2){
    transform: rotateZ(90deg);
}

.Answers .answer.content {
    position: relative;
}

.Answers .answer p{
    padding: 20px 40px;
    background: #002543;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 10px 0 10px 10px;
    transition: 0.4s;
    width: 100%;
    z-index: 20;
}

.Answers .answer .hidden{
    display: none;
}

.Answers .answer .visible{
    display: block;
}