.Products .card {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100%/3) - 30px);
    margin-bottom: 100px;
}

.Products .card h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
}

.Products .card img{
    text-align: center;
    margin-bottom: 30px;
}

.Products .card .slider_title {
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 10px;
}

.Products .card .slider_title .slider_wrapper{
    display: flex;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.Products .card .slider_title h4{
    min-width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    background: none;
    border: none;
    padding: 10px 0;
    opacity: 0;
    text-align: center;
}

.Products .card .slider_title h4.not_active {
    opacity: 0;
    animation-name: finish-animation;
    animation-duration: 0.5s;
    pointer-events: none;
}

@keyframes finish-animation {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.Products .card .slider_title h4.active {
    opacity: 1;
    animation-name: start-animation;
    animation-duration: 0.5s;
    pointer-events: auto;
}

@keyframes start-animation {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Products .card .slider_buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Products .card .slider_buttons button{
    transition: 0.4s;
    width: 50px;
    height: 20px;
    background-color: rgba(0,0,0,0);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.Products .card .slider_buttons button.prev{
    background-image: url("images/button_img_prev.svg");
}
.Products .card .slider_buttons button.next{
    background-image: url("images/button_img_next.svg");
}

.Products .card .slider_info{
    overflow: hidden;
    width: 100%;
}

.Products .card .slider_info .slider_wrapper{
    display: flex;
    min-width: 100%;
    transition: 0.4s;
}

.Products .card .slider_info .slider_wrapper .item{
    min-width: 100%;
}

.Products .card .slider_info .slider_wrapper .item .title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.Products .card .slider_info ul{
    width: 100%;
    margin-bottom: 25px;
    padding: 0 10px;
}

.Products .card .slider_info li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #282828;
    list-style: none;
}

.Products .card .slider_info li .price{
    font-weight: 600;
    font-size: 20px;
    color: #EE9A38;
}

.Products .card .slider_info li .days{
    font-weight: 600;
    font-size: 20px;
}

.Products .bottom_button{
    width: 100%;
    border: 1px solid #F3A242;
    border-radius: 50px;
    background-color: transparent;
    padding: 10px 32px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
}