.Feedback__feedback{
    width: 630px;
    margin: 65px auto;
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 200px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 18px 18px 40px 18px;
}

.Feedback__feedback h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #043E71;
    margin-bottom: 15px;
}

.Feedback__feedback p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 10px;
}

.Feedback__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
}

.Feedback__feedback input{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background: #ECEBE8;
    border-radius: 50px;
    padding: 10px 0;
    width: 234px;
    border: none;
    outline: none;
    text-align: center;
}

.Feedback__form button{
    background: #FFB31E;
    border-radius: 50px;
    padding: 10px 0;
    width: 234px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    cursor: pointer;
}

.Feedback__feedback hr{
    width: 364px;
    margin: 15px auto;
}

.Feedback__feedback .Feedback__text_phone{
    margin-bottom: 20px;
}

.Feedback__phone{
    background: #3078B5;
    border-radius: 50px;
    padding: 12px 32px 12px 63px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.Feedback__phone:before{
    content: url("images/phone.svg");
    position: absolute;
    top: calc(50% - 10px);
    left: 32px;
    width: 20px;
    height: 20px;
}