.Benefits{
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    padding: 25px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.Benefits h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.Benefits .cards{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Benefits .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 20px;
}

.Benefits .card p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.Benefits .cards.mobil{
    display: none;
}

.Benefits .cards.mobil .card{
    min-width: 100%;
}

.Benefits .cards.mobil img{
    width: 20%;
}

.Benefits .cards.mobil .carousel .control-dots {
    margin: 0;
}

.Benefits .cards.mobil .carousel.carousel-slider{
    padding-bottom: 50px;
}