.Table{
    width: 100%;
}

.Table h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 40px;
}

.Table h2.disable{
    display: none;
}

.Table table{
    background: none;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 30px rgba(236, 242, 244, 0.1);
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
}

.Table thead tr{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background: #F1F6FF;
}

.Table td:nth-child(1){
    text-align: left;
}

.Table td{
    text-align: right;
}

.Table td:first-child{
    padding-left: 30px;
}

.Table td:last-child{
    padding-right: 30px;
}

.Table td{
    padding: 18px 0;
}

.Table tbody tr{
    transition: 0.2s;
}

.Table tbody tr:nth-child(2n){
    background: #FBFCFF;
}

.Table tbody tr:nth-child(2n+1){
    background: #FFF;
}

.Table tbody tr:hover{
    background: rgba(250,247,247, 0.27);
}

.Table tr:nth-child(1) td:nth-child(1){
    border-top-left-radius: 7px;
}

.Table tr:nth-child(1) td:last-child{
    border-top-right-radius: 7px;
}

.Table tr:last-child td:nth-child(1){
    border-bottom-left-radius: 7px;
}

.Table tr:last-child td:last-child{
    border-bottom-right-radius: 7px;
}