.Table{
    margin-bottom: 64px;
}

.Table h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 40px;
}

.Table table{
    background: none;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 40px 0 rgba(57, 57, 57, 0.05);
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
    border-radius: 7px;
}

.Table table tr:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.Table td{
    padding: 12px 0;
    border-right: 2px solid #fff;
}

.Table td:last-child{
    border: none;
}

.Table td:nth-child(1){
    text-align: left;
    padding-left: 15px;
}

.Table tr{
    overflow-x: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.Table tr:nth-child(2n){
    background: #FFFCFC;
}

.Table tr:nth-child(2n+1){
    /*background: #FFF5E5;*/
    background: rgba(182, 202, 235, 0.27);

}

/*.Table tr:nth-child(2n):hover{*/
/*    background: rgb(250,247,247);*/
/*}*/

/*.Table tr:nth-child(2n+1):hover{*/
/*    background: rgb(2545,235,219);*/
/*}*/

.Table tr:nth-child(1) td:nth-child(1){
    border-top-left-radius: 7px;
}

.Table tr:nth-child(1) td:last-child{
    border-top-right-radius: 7px;
}

.Table tr:last-child td:nth-child(1){
    border-bottom-left-radius: 7px;
}

.Table tr:last-child td:last-child{
    border-bottom-right-radius: 7px;
}

.Table.product_spec table{
    max-width: 718px;
    margin: 40px auto 74px auto;
}

/*.Table.product_spec tr:nth-child(2n+1){*/
/*    background: #ECF6FF;*/
/*}*/

/*.Table.product_spec tr:nth-child(2n+1):hover{*/
/*    background: #dce8fc;*/
/*}*/