* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

body {
    /*background: #fff;*/
    background-color: #f7f7f7;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.no_scroll{
    overflow: hidden;
}
