@media (max-width: 1200px) {
    .App .container {
        width: 960px;
    }

    .App .Cards > .content {
        display: none;
    }

    .App .Cards > .content__mobil {
        display: flex;
    }

    .App .Card {
        max-width: 450px;
        width: 450px;
        max-height: 570px;
        height: 570px;
    }

    .App .Card .button {
        width: 100%;
    }

    .App .Modal .content {
        width: 50%;
    }

    .App .Parameters .prices .content {
        width: 100%;
    }

    .App .Form .content form {
        width: 50%;
        grid-template-areas:
                "A"
                "B"
                "C"
                "D";
    }
}

@media (max-width: 992px) {
    .App .container {
        width: 720px;
    }

    .App .Links .display {
        width: 95%;
    }

    .App .Links .link {
        padding: 18px 24px 18px 40px;
    }

    .App .Links p {
        font-size: 23px;
    }

    .App .about_product .content {
        flex-direction: column;
        gap: 35px;
    }

    .App .about_product .content .part {
        width: 100%;
    }

    .App .about_product .content .part.mobil_title {
        display: block;
        width: 100%;
    }

    .App .about_product .content .part .desktop_title {
        display: none;
    }

    .App .about_product .content ul {
        width: 100%;
    }

    .App .Docs .content {
        gap: 0;
        justify-content: space-between;
    }

    .App .Docs .content .item {
        width: 40%;
    }

    .App .Benefits .cards {
        width: 80%;
    }

    .App .Video_manual .video {
        width: 100%;
    }

    .App .Answers .question h3 {
        width: 80%;
    }

    .App .Footer .links {
        display: none;
    }

    .App .Footer .bottom {
        font-size: 14px;
        text-align: left;
        padding: 0;
    }

    .App .Footer .button button {
        display: none;
    }

    .App .Footer .button.mobil button {
        display: block;
    }

    .App .StairsPage .Products .item {
        height: 400px;
    }

    .App .StairsPage .Products .item img {
        height: 182px;
        min-height: 182px;
    }

    .App .Parameters .display_mobil {
        display: block;
        margin: 100px auto;
        width: 35%;
    }

    .App .Parameters .characteristics img {
        display: none;
    }

    .App .Parameters .characteristics .table {
        width: 100%;
    }

    .App .Parameters .characteristics .table table {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .App .container {
        width: 540px;
    }

    .App .Links p {
        font-size: 16px;
    }

    .App .Links .link, .Links_bar .content .item .link a {
        padding: 18px 30px;
    }

    .App .Links .link:after, .Links_bar .content .item .link a:after {
        content: none;
    }

    .App .Feedback {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .App .Feedback h3 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .App .Feedback p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
        width: 90%;
    }

    .App .Feedback .form {
        gap: 10px;
    }

    .App .Feedback input, .App .Feedback button, .App .Feedback .phone {
        padding: 15px 0;
        width: 300px;
        font-size: 16px;
    }

    .App .Feedback .phone {
        width: 270px;
    }

    .App .Feedback hr {
        width: 80%;
        margin: 15px auto;
    }

    .App .Benefits h2 {
        font-size: 40px;
    }

    .App .Benefits .cards {
        display: none;
    }

    .App .Benefits .cards.mobil {
        display: block;
    }

    .App .Manual h2 {
        margin-bottom: 50px;
    }

    .App .Manual .card {
        display: block;
    }

    .App .Manual .card .number {
        transform: translateY(0);
        text-align: left;
        margin-bottom: 40px;
    }

    .App .Manual .card .text {
        width: 100%;
        text-align: justify;
    }

    .App .Video_manual .video {
        width: 100%;
    }

    .App .Footer .container {
        width: 90%;
    }

    .App .Modal .content {
        width: 70%;
    }

    .App .StairsPage .Parameters ul {
        width: 100%;
    }

    .App .Form .content form {
        width: 100%;
    }

    .App .Form .content img {
        display: none;
    }

    .App .Table {
        width: 100%;
    }

    .App .Table .table_wrapper {
        width: 100%;
        overflow: scroll;
    }

    .App .Table table td {
        min-width: 130px;
    }

    .App .Table table td {
        min-width: 130px;
    }

    .App .Links_bar .content {
        flex-direction: column;
        gap: 90px;
    }

    .App .TowersPage .spec_table .table_wrapper {
        width: 100%;
    }

    .App .Docs .title {
        justify-content: center;
        margin-bottom: 50px;
    }

    .App .Docs .title h4 {
        min-width: auto;
        width: 95%;

    }

    .App .Docs .title div {
        display: none;
    }

    .App .ScaffoldsPage .ProductsInfo .content {
        flex-direction: column;
        gap: 50px;
    }

    .App .ScaffoldsPage .ProductsInfo .title {
        justify-content: center;
    }

    .App .ScaffoldsPage .ProductsInfo .title div {
        display: none;
    }

    .App .ScaffoldsPage .ProductsInfo .title h4 {
        min-width: auto;
    }

    .App .ScaffoldsPage .price_table .Table {
        width: 100%;
    }

    .App .ProductsInfo .part {
        width: 100%;
    }

    .App .ProductsInfo .part img {
        width: 100%;
    }

    .App .ProductsInfo table thead td {
        font-size: 16px;
    }

    .App .ScaffoldsPage .ProductsInfo .content .part:last-child {
        overflow: scroll;
    }

    .App .ProductsInfo table td {
        padding: 10px;
    }

    .App .Form h2 {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .App .StairsPage .Products {
        justify-content: center;
        gap: 50px;
        flex-direction: column;
    }

    .App .StairsPage .Products .item {
        width: 100%;
    }

    .App .StairsPage .title {
        justify-content: center;
    }

    .App .StairsPage .title div {
        display: none;
    }

    .App .StairsPage .title h4 {
        min-width: auto;
    }

    .App .about_product h2 {
        font-size: 25px;
    }

    .App .Docs .content {
        flex-direction: column;
        justify-content: center;
        gap: 70px;
    }

    .App .Docs .content .item {
        width: 100%;
    }

    .App .Docs .content .item p {
        font-size: 18px;
    }

    .App .container {
        width: 95%;
    }

    .App .Card {
        max-width: 80%;
        min-width: 80%;
    }

    .App .Product_info_table {
        overflow-x: scroll;
    }

    .App .Product_info_table table {
        width: 600px;
    }

    .App .Product_info_table td:nth-child(1) {
        padding-left: 10px;
    }

    .App .Feedback p {
        width: 100%;
    }

    .App .Feedback hr {
        display: none;
    }

    .App .Feedback .text_phone {
        margin: 15px 0;
    }

    .App .Feedback .phone:before {
        left: 15px;
    }

    .App form {
        width: 90%;
    }

    .App .Feedback input, .App .Feedback button, .App .Feedback .phone {
        padding: 13px;
        width: 100%;
        font-size: 14px;
    }

    .App .Feedback .phone {
        width: 90%;
    }

    .App .Manual .card img {
        width: 100%;
    }

    .App .Answers .answer.content p {
        padding: 20px 20px;
        font-size: 11px;
    }

    .App .Footer .content .info {
        width: 100%;
        text-align: center;
    }

    .App .Footer .info h2 {
        text-align: center;
    }

    .App .Footer .info span {
        text-align: center;
        width: 100%;
    }

    .App .Footer .bottom {
        text-align: center;
        font-size: 12px;
    }

    .App .Footer .list {
        align-items: center;
    }

    .App .Footer .item {
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    .App .Footer .item a, .App .Footer .item p {
        width: 100%;
        max-width: none;
    }

    .App .Footer .item h4 {
        text-align: center;
        justify-content: center;
    }

    .App .Footer .button {
        display: flex;
        justify-content: center;
    }

    .App .Modal .content {
        width: 80%;
    }

    .App .Form button {
        width: 100%;
    }

    .App .Links .display {
        width: 100%;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .App .Links .item {
        width: 90%;
    }

    .App .Links .item p {
        display: none;
    }

    .App .Links .item .mobil_link {
        display: block;
    }

    .App .Links .item .desktop_link {
        display: none;
    }

    .App .Links .item .link {
        width: 100%;
        padding: 15px 30px;
        justify-content: center;
    }

    .App .nomatch .first_screen .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
    }
}

@media (max-width: 450px) {
    .App .Feedback {
        width: 100%;
    }



    .App .Mobil_menu {
        width: 100%;
        padding: 40px 20px;
    }

    .App .Mobil_menu .second_header {
        gap: 10px;
    }

    .App .Card {
        max-width: 95%;
        min-width: 95%;
        min-height: auto;
        max-height: none;
        height: auto;
        text-align: center;
        gap: 20px;
        padding: 10px;
    }

    .App .Feedback__feedback .Feedback__form {
        width: 100%;
    }

    .App .Benefits h2 {
        font-size: 30px;
    }

    .App .Benefits .cards.mobil .card p {
        font-size: 20px;
    }

    .App .Footer .item {
        width: 80%;
    }

    .App .about_product {
        padding: 30px;
    }
}

@media (max-width: 320px) {
    .App .Feedback .phone:before {
        content: none;
    }

    .App .Footer .item {
        width: 100%;
    }

    .App .about_product h2 {
        font-size: 20px;
    }

    .App .Mobil_menu .second_header .list_item p, .App .Mobil_menu .second_header .list_item a {
        font-size: 14px;
        transform: translateX(0);
    }
}