.Prices{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 80px;
}

.Prices h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 30px;
}

.Prices .cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Prices .cards .card{
    width: 370px;
    background-color: #bebebe;
    padding: 30px 40px;
    border-radius: 14px;
}

.Prices .cards .card p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 18px;
}

.Prices .cards .card ul{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    list-style: none;
    text-align: center;
    padding-bottom: 40px;
}

.Prices .cards .card ul li{

}

.Prices .ps{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #AF0000;
    margin-top: 25px;
}

.Prices table{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.Prices table td {
    text-align: left;
    padding: 18px 35px;
}

.Prices table thead td{
    font-weight: 600;
}

.Prices table tbody td{
    font-weight: 400;
}

.Prices table tbody td:first-child{
    font-weight: 500;
}

.Prices table tbody tr:last-child td{
    font-weight: 400;
    color: #AF0000;
}
