.Links{
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
}

.Links .display{
    display: flex;
    justify-content: space-between;
}

.Links .item{
    text-align: center;
}

.Links p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #0D0D0D;
    margin-bottom: 20px;
}

.Links .item div, .Links_bar .content .item .link{
    display: flex;
    justify-content: center;
}

.Links .link, .Links_bar .content .item .link a{
    background: linear-gradient(90deg, #243949 0%, #517FA4 100%);
    border-radius: 50px;
    padding: 18px 24px 18px 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0;
    transition: 0.4s;
    /*padding-right: 24px;*/

}

.Links .link:after, .Links_bar .content .item .link a:after{
    content: '';
    height: 16px;
    width: 16px;
    background-image: url('images/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s;
    opacity: 0;
    /*transform: scaleX(0);*/
}

.Links .link:hover, .Links_bar .content .item .link a:hover{
    gap: 16px;
    padding: 18px 40px;
}

.Links .link:hover:after, .Links_bar .content .item .link a:hover:after{
    opacity: 1;
}