.About_product{
    margin: -35px auto 100px auto;
    padding: 70px 50px;
    background: #FFFFFF;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.05));
    border: none;
    border-radius: 14px;
}

.About_product .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.About_product .content .mobil_title{
    display: none;
}

.About_product .content img, .About_product .content ul{
    width: 416px;
}

.About_product .part{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.About_product .part img{
    width: 100%;
}

.About_product h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.About_product .content ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
}

.About_product .content ul li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}