.Benefits__benefits{
    width: 100%;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    padding: 25px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.Benefits__benefits h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.Benefits__cards{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Benefits__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 20px;
}

.Benefits__card p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.App .Benefits__cards__mobil{
    display: none;
}

.App .Benefits__cards__mobil .Benefits__card{
    min-width: 100%;
}

.App .Benefits__cards__mobil .Benefits__card img{
    width: 20%;
}

.App .Benefits__card p{
    font-size: 26px;
    line-height: 30px;
    width: 70%;
}

.App .Benefits__cards__mobil .carousel .control-dots {
    margin: 0;
}

.App .Benefits__cards__mobil .carousel.carousel-slider{
    padding-bottom: 50px;
}