.benefits{
    width: 100%;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    padding: 25px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.benefits h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.cards{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 20px;
}

.card p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}